$animationEffect: opacity 0.7s;

.menu {
  position: fixed;
  padding-top: 80px;
  box-sizing: border-box;
  top: 0;
  background-color: white;
  z-index: 2;

  &_menuWrapper {
    div {
      opacity: 1;
      transition: $animationEffect;
    }
  }

  &_menuWrapper:hover {
    div:not(:hover) {
      opacity: 0.6;
      transition: $animationEffect;
    }
  }

  &_layer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: $animationEffect;
  }

  &_layerOn {
    opacity: 0.6;
    transition: $animationEffect;
    pointer-events: unset;
  }
}
