$animationEffect: opacity 0.7s;

.menu {
  position: fixed;
  padding-top: 80px;
  box-sizing: border-box;
  top: 0;
  background-color: white;
  z-index: 2;
  height: 100dvh;

  &_menuWrapper {
    & > div {
      opacity: 1;
      transition: $animationEffect;
    }
  }

  &_menuWrapper:hover {
    & > div:not(:hover) {
      opacity: 0.6;
      transition: $animationEffect;
    }
  }
}
