body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f7f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul,
li {
  list-style: none;
}

ul {
  padding-inline-start: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maskLayer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  transition: opacity 0.7s;
}

.maskLayerOn {
  opacity: 1;
  transition: opacity 0.7s;
  pointer-events: unset;
  backdrop-filter: blur(10px);
}
